/* Палітра */
/* :root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #2196f3;
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --main-color: #fff;
  --main-icon-color: #afb1b8;
  --input-border-color: rgba(33, 33, 33, 0.2);
  --btc-color-accent: #188ce8;
} */
/* Палітра */
/* index start */

/* скидання стилів */
/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.li {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
} */

/* скидання стилів */

/* visualli-hidden */
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
/* visualli-hidden */

/* body start */
/* .container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
} */

/* body {
  background-color: var(--main-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0px;
} */

/* html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
} */

/* .header,
.nav,
.list,
.contacts {
  display: flex;
  flex-direction: row;
  padding: 0px;
  align-items: center;
} */

/* .title {
  color: var(--title-text-color);
  text-align: center;
  letter-spacing: 0.03em;
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* h2,
h3,
h4,
h5 {
  color: var(--title-text-color);
  font-weight: 700;
}
li {
  list-style-type: none;
}

a {
  font-style: normal;
  text-decoration: none;
} */
/* body end */

/* header start */
/* logo in header and footer start */
/* .logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.logo_dark {
  color: #000000;
}

.logo_light {
  color: var(--main-color);
}

.header__logo {
  margin-right: 93px;
} */

/* logo in header and footer end */

/* nav start */

/* .nav__list {
  display: flex;
  gap: 50px;
}

.nav__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--secondary-text-color);
}

.nav__link_active {
  color: var(--secondary-text-color);

  position: relative;
}

.nav__link_active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--secondary-text-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}
 */
/* .contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts_list {
  margin-left: auto;
}

.contacts__mail,
.contacts__tel {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  transition-property: fill, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mail,
.contacts__tel {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  fill: currentColor;
}

.contacts__mail:hover,
.contacts__mail:focus,
.contacts__tel:hover,
.contacts__tel:focus {
  color: var(--secondary-text-color);
}

.contacts__mail:hover .contacts__icon,
.contacts__mail:focus .contacts__icon,
.contacts__tel:hover .contacts__icon,
.contacts__tel:focus .contacts__icon {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: var(--secondary-text-color);
} */

/* .header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
} */

/* nav end */
/* header end */

/* main start */
/* hero start */
/* 
.hero {
  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/overlay-img.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  width: 696px;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
} */

/* .hero__button {
  font-family: Roboto;
  background-color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} */

/* .hero__button:hover,
.hero__button:focus {
  background-color: var(--btc-color-accent);
} */

/* hero end */

/* features section start */
/* .features {
  padding-bottom: 0;
}

.features__list {
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.features__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: start;
}
.features__text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
  letter-spacing: 0.03em;
}

.features__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third-bg-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
} */

/* features section end */

/* work section start */
/* .work__title {
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__item-desc {
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  height: 70px;
} */

/* work section end */

/* team section start */

/* .team {
  background-color: #f5f4fa;
}

.team__container {
  display: flex;
  flex-direction: column;
}

.team__title {
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.team__item {
  background-color: var(--main-color);
  padding-bottom: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  padding-top: 30px;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}
.team__position {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
} */

/* .socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-list__icon_gray {
  fill: var(--main-icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__link_light {
  background-color: var(--main-color);
  transition-property: background-color;
}

.socials-list__link:hover .socials-list__icon,
.socials-list__link:focus .socials-list__icon {
  fill: var(--main-color);
}

.socials-list__link:hover,
.socials-list__link:focus {
  background-color: var(--secondary-text-color);
} */

/* team section end */

/* stable clients secton start */

/* .stable-clients__title {
  margin-bottom: 50px;
}

.stable-clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.stable-clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: box-shadow, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.stable-clients__icon {
  fill: var(--main-icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.stable-clients__link:hover .stable-clients__icon,
.stable-clients__link:focus .stable-clients__icon {
  fill: var(--secondary-text-color);
}

.stable-clients__link:hover,
.stable-clients__link:focus {
  border-color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

/* stable clients secton end */

/* main end */

/* footer start */
/* .footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.address-group {
  display: block;
}

.address {
  margin-top: 20px;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-color);
  letter-spacing: 0.03em;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__mail,
.address__tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-group__title {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
} */

/* .socials-list__icon_light {
  fill: var(--main-color);
}

.socials-list__link_grey {
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .subscription-group__label {
  display: block;

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-color);

  margin-bottom: 20px;
}

.subscription-group__input {
  width: 358px;
  height: 50px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;

  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-color);
}

.subscription-group__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-group__thumb {
  display: flex;
}

.subscription-group__input {
  margin-right: 12px;
}

.submit-btn__icon {
  fill: var(--main-color);
  margin-left: 10px;
} */

/* footer section end */
/* index end */

/* portfolio start */
/* .filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
} */

/* .filter__button {
  cursor: pointer;
} */

/* .filter__button {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding-top: 6px;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 6px;
  background-color: var(--third-bg-color);
  border-radius: 4px;
  border: 0px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button_all {
  padding-top: 6px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 6px;
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--secondary-text-color);
  color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button_active {
  background-color: var(--secondary-text-color);
  color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.product__desc {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 4px;
}

.product__type {
  font-weight: 400;
  line-height: 1.88;
  padding-left: 24px;
  color: var(--primary-text-color);
}

.portfolio-list__item {
  line-height: 1.88;
}

.product__link {
  display: block;
  outline: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product__link:hover,
.product__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__img-container {
  position: relative;

  width: 370px;
  height: 294px;
  overflow: hidden;
}

.portfilio-img-desc {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  position: absolute;
  width: 370px;
  height: 294px;
  overflow: auto;

  color: var(--main-color);
  background-color: var(--secondary-text-color);

  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;

  top: 0%;

  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product__link:hover .portfilio-img-desc {
  transform: translateY(0%);
} */

/* portfolio end */

/* modal */
/* .backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* 
.modal {
  position: absolute;
  background: var(--main-color);
  width: 528px;
  height: 581px;
  z-index: 10;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 40px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: visibility, opacity 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
} */

/* .modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 30px;
  width: 30px;
  background-color: var(--main-color);
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:focus,
.modal-btn:hover {
  fill: var(--secondary-text-color);
} */
/* 
form {
  display: flex;
  flex-direction: column;
}

strong {
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  margin-bottom: 12px;
}

.field-thumb input {
  height: 40px;
  padding-left: 43px;
  width: 100%;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;

  transition-property: border-color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field-thumb {
  position: relative;
  width: 100%;

  margin-bottom: 10px;
}
.modal-icon {
  position: absolute;

  width: 18px;
  height: 18px;
  fill: var(--title-text-color);

  top: 50%;
  left: 13px;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field-thumb input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.Commentary-thumb {
  margin-bottom: 20px;
}

input:focus {
  border-color: var(--secondary-text-color);
  outline: var(--secondary-text-color);
}

.field-thumb:focus-within .modal-icon {
  fill: var(--secondary-text-color);
}

textarea {
  display: block;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  resize: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;

  height: 120px;
  width: 100%;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  margin: 0;

  transition-property: border-color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

label {
  display: block;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.Commentary-thumb:focus-within textarea {
  border-color: var(--secondary-text-color);
  outline: var(--secondary-text-color);
}

.register-form-desc {
  user-select: none;
} */

/* .check {
  position: relative;
  display: flex;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  align-items: center;
  padding-left: 36px;
  margin-bottom: 0px;
} */

/* .privacy-conditions {
  margin-left: 0.3em;
}

.privacy-thumb {
  margin-bottom: 30px;
} */

/* .check-input {
  -webkit-appearance: none;
}

.check-box-off {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.check-box-on {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.check-input:focus + .check-box-off {
  outline: 2px solid black;
  outline-offset: 2px solid black;
}

.check-input:focus ~ .check-box-on {
  outline: 2px solid black;
  outline-offset: 2px solid black;
}

.check-input:checked + .check-box-off {
  opacity: 0;
}

.check-input:checked ~ .check-box-on {
  opacity: 1;
} */

/* .privacy-conditions {
  text-decoration: underline;
  color: var(--secondary-text-color);
}

.submit-thumb {
  display: flex;
  justify-content: center;
} */

/* .submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--main-color);
  width: 200px;
  height: 50px;

  cursor: pointer;

  background-color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--btc-color-accent);
}  */
